<%- include("partials/header.ejs")%>
<h1 style="text-align: center; margin-top: 25px;">Contact</h1>
<p style="max-width: 1200px; margin: 0 auto; text-align: center; padding: 50px 20px;"> <%= contactContent %> </p>
<script src="/styles/script.js"></script>
<%- include("partials/footer.ejs")%>
