<%- include("partials/header.ejs")%>
<div style="max-width: 1200px; margin: 0 auto; text-align: center; padding: 50px 20px;">
  <h1 style="font-size: 3em; color: #333;">Welcome to Beer Blog</h1>
  <p style="font-size: 1.2em; color: #666; margin-top: 20px;">
    Dive into the rich world of craft beers, explore flavors, share your own beer tales, and connect with fellow enthusiasts. Join us in creating a vibrant community where every sip tells a story.
  </p>
  <p style="font-size: 1.2em; color: #666; margin-top: 10px;">
    Ready to share your thoughts? Click below to start creating your own blogs on our page!
  </p>
  <a href="/create-blog" style="display: inline-block; margin-top: 30px; padding: 15px 30px; font-size: 1em; color: #fff; background-color: rgb(91, 96, 4); border-radius: 5px; text-decoration: none;">
    Create Blogs
  </a>
  <a href="/view" style="display: inline-block; margin-top: 30px; padding: 15px 30px; font-size: 1em; color: #fff; background-color: rgb(91, 96, 4); border-radius: 5px; text-decoration: none;">
    Read Your Blogs
  </a>
</div>
<script src="/styles/script.js"></script>
<%- include("partials/footer.ejs")%>